body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white !important;
  display: flex;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    display: flex;
}

.nav{
  background-color: white !important ;
  display: flex;
 
}

.css-9npbnl-MuiFormLabel-root-MuiInputLabel-root {
  font-weight: 700 !important;
  color: rgb(40, 38, 38) !important;
  display: flex;
}

/* for cart  */
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-size: 1.21rem !important;
  gap: 0.5rem;
  color: #000000 !important;
  display: flex;
}

#navbar {
  display: flex !important;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  display: flex;
  color: black;
}

#demo-simple-select-label {
  font-size: 1.21rem;
  font-weight: 550 !important;
  display: flex;
}

#intro-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: rgb(31, 31, 31);
  color: white;
  height: 15rem;
  margin: 0 !important;
  display: flex;
}

#intro-title {
  margin-top: 0rem;
  font-size: 2.5rem;
  font-weight: bold;
}

#intro-span {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
}

#cardbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 5rem 11rem;
}

#img {
  padding: 3rem;
  color: rgb(223, 221, 221);
  background-color: rgb(158, 158, 158);
}

#sale {
  font-size: 0.8rem;
  position: relative;
  top: -2.5rem;
  left: 5.5rem;
  background-color: black;
  width: 3.5rem;
  border-radius: 0.5rem;
  padding: 0.1rem;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  #cardbox {
    margin: 2rem;
    display: flex;
  }
  
  #intro-div {
    height: 10rem;
    display: flex;
  }
  
  #intro-title {
    font-size: 2rem;
    display: flex;
  }
  
  #intro-span {
    font-size: 1rem;
    display: flex;
  }
}

#cardaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  display: flex;
}







