.container{
    display: flex;
    height: auto;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
}
.one .two .three{
    padding: 20px;
    margin:10px;
    width:100px;
    height: 10px;
}
.one{
    background-color: aqua;
    flex-shrink: 1;
    flex-grow: 1;
}
.two{
    background-color: aquamarine;
 flex-shrink: 2;
    flex-grow: 2;
}
.three{
    background-color: bisque;
     flex-shrink: 3;
    flex-grow: 1;
}