.container {
  background: gainsboro;
}
.text-center {
  text-align: center;
  color: rgb(17, 72, 106);
}
.card {
  background-image: linear-gradient(to right, rgb(219, 206, 129), rgb(145, 143, 143));
  margin: 20px;
  border-radius: 3px;
  box-shadow: 0 0 0.5rem;
}

.card-header {
  background-color: rgb(20, 20, 20);
  border: white 20px;
  color: white;
  text-align: center;
  justify-content: center;
}

.card-body {
  text-align: center;
  border-color: white;
  justify-content: center;
  align-items: center;
}

.card-img {
  padding: 1px;
}

@media (min-width: 768px) {
  .card-img {
    max-height: 170px;
    min-height: 169px;
  }
  
  .container {
    background: 200px lightgray;
  }
  
  .card {
    margin: 10px;
  }
  
  .card-header {
    border: white 10px;
  }
  
  .card-body {
    height: 200px;
  }
}

@media (min-width: 1024px) {
  .container {
    background: 300px darkgray;
  }
  
 
}
