p{
    font-style: italic;
    color: black;
    
}
#description{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: semi-expanded;
    font-feature-settings: "calt";
    color: deeppink;

}
