 body {
            padding: 20px;
            background-color: rgb(54, 52, 52);
            display: flex;
            background-repeat: no-repeat;
            background-position: center  ;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            border-radius: 20px;
            padding: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            background-color:#2b8add ;
            max-width: 500px;
            height: auto;
        }
        
        .mt-4 {
            color: #ffffff;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .container.weather-cloudy {
            background: linear-gradient(to bottom, #e0e0e0, #8f8f8f);
        }

        .container.weather-rainy {
            background: linear-gradient(to bottom, #aad4e1, #4299dc);
        }

        .container.weather-snowy {
            background: linear-gradient(to bottom, #ffffff, #2b8add);
        }

        .container.weather-unknown {
            background: linear-gradient(to bottom, #ffffff, #808080);
        }

        .container.weather-sunny {
            background: linear-gradient(to bottom, #dcb05e, #d99216);
        }

        .form-group {
            margin-bottom: 20px;
        }

        @media (max-width: 576px) {
            .container {
                padding: 10px;
            }
        }

        @media (max-width: 768px) {
            .container {
                padding: 15px;
            }
        }

        @media (max-width: 992px) {
            .container {
                padding: 20px;
            }
        }